* {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    display: flex;
    position: fixed;
    top: 0%;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: rgb(18, 18, 62);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    font-size: 15px;
    list-style: none;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: Poppins;
    text-align: center;
    align-items: center;
}

a:hover {
    color: gray;
}


.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0px;
    margin-bottom: 140px;
    height: 600px;
}

hr {
    border: 0;
    background-color: rgb(138, 110, 231);
    height: 1.5px;
    margin: 40px 84px;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 28px;
    font-family: Poppins;
}

.rightsection img {
    width: 100%;
    height: 80%;
}

.purple {
    color: rgb(166, 111, 218);
}

#element {
    color: purple;
}

.secondsection {
    height: 400px;
    width: auto;
    padding: 70px;
    align-items: center;
}

.secondsection h1 {
    font-size: 30px;
    text-align: center;
}

.qualification {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}

.qualification div {
    margin: 50px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    border: 2px solid #006f9b;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.sec-image {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
.quali-sec-heading,.quali-high-sec-heading,.quali-grad-heading{
    font-size: 10px;
}
.name1,
.name2,
.name3 {
    font-size: 10px;
    color: #7800b9;
}

.high-image {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.college-image {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
.quali-high-sec,.quali-sec,.quali-grad{
    font-size: 10px;
}
.secondary-qualification:hover {
    border: 5px solid #7800b9;
}

.high-secondary-qualification:hover {
    border: 5px solid #7800b9;
}

.under-graduate:hover {
    border: 5px solid #7800b9;
}

.third-section {
    height: 400px;
    width: 100%;
    align-items: center;
}

.heading-contact {
    text-align: center;
    font-size: 50px;
    width: 100%;
}

.contact-lists {
    margin: 30px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

ul li {
    margin: 30px;
    padding: 30px;
    text-align: center;
}

.contact-us-icons {}

.contact-us-images {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact-us-images:hover {
    border: 2px solid goldenrod;
}
.forth-section{
    width: 100%;
    height: 500px;
    justify-content: center;
}
.my-bio-data{
    display: flex;
}
.left-bio{
    width: auto;
    margin: 20px;
    align-items: center;
}
.bio-data-image{
    border-radius: 20px;
    height: 350px;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 100px;
}
.right-bio{
    width: 50%;
    margin: 20px;
}
.my-bio-heading{
    font-size: 25px;
    margin: 10px;
}
.bio-data-para{
    margin: 10px;
    font-size: 08px;
}
.my-skills{
    display: flex;
    flex-direction: column;    
}

.html-range-1{
    height: 50px;
    background-image: url("3.png");
    width: 100%;   
    padding-right: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.html-range-2{
    height: 50px;
    background-image: url("4.png");
    width: 100%;
    border-radius: 5px;   
    padding-right: 100px;
    background-repeat: no-repeat;
    background-size: cover;
     
}
.html-range-3{
    height: 50px;
    background-image: url("1\ -\ Copy.png");
    border-radius: 5px;
    width: 100%;   
    padding-right: 100px;
    background-repeat: no-repeat;
    background-size: cover;
     
}
.fifth-section{
    height: 400px;
    width: 100%;
}
.projects{
    height: 400px;
    align-items: center;
    margin: 30px;
    text-align: center;
}
.projects p{
    font-size: 15px;
    margin: 30px;
}
.projects h1{
    font-size: 25px;
    align-items: center;
    text-align: center;
}

.download-b{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40px;
    height: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(65, 9, 196);
    font-size: larger;
}
.download-btn{
    background-color:  #302246;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #302246;
    height: 25px;
    width: 150px;
    align-items: center;
    text-align: center;
    margin-left: 520px;
}
.download-btn:hover{
    border:1px solid goldenrod;

}